@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared style */

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* color section */

.dark-01 {
    color: rgba(19, 19, 19, 1);
}

.dark-02 {
    color: rgba(66, 66, 66, 1);
}

.dark-03 {
    color: rgba(114, 114, 114, 1);
}

.dark-04 {
    color: rgba(161, 161, 161, 1);
}

.dark-05 {
    color: rgba(208, 208, 208, 1);
}

.dark-06 {
    color: rgba(231, 231, 231, 1);
}

.dark-07 {
    color: rgba(243, 243, 243, 1);
}

.display-flex {
    display: flex;
}

.color {
    color: rgba(255, 144, 14, 1);
}

.primary-button {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 48px;
}

main {
    max-width: 1440px;
    margin: 85px auto;
}

/* Main style */


/* header style */

header {
    padding-top: 50px;
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar style */

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 2.81rem;
    font-weight: bold;
}

.nav-links {
    gap: 80px;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

/* banner style */

.banner {
    margin-top: 102px;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.banner-description,
.facts-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.image img {
    width: 100%;
    margin-bottom: 48px;
}


/* team section style */

.teams {
    align-items: center;
    margin-bottom: 130px;
}

.teams-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 73px;
    max-width: 537px;
}

.feature-title,
.facts-heading,
.footer-heading {
    font-size: 2.81rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.quick {
    font-weight: 500;
}

.feature-description,
.footer-description,
.features-descri {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

/* Features section style */

.features-section{
    margin-top: 39px;
    max-width: 586px;
    margin-right: 160px;
}

.features-title{
    font-size: 2.81rem;
    font-weight: 700;
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
    margin-bottom: 24px;
}

.features-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.features-card{
    padding: 30px 40px 30px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.features-heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 9px;
}

.features-descri{
    margin: 0;
}

#badge{
    padding: 45px 42px;
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 40px;
    margin-left: -100px;
    margin-top: -120px;
}

.big-text{
    font-size: 4rem;
    font-weight: bold;
    line-height: 70px;
}


/* fact style */

.facts{
    margin-top: 130px;
    margin-bottom: 95px;
}

.fact-content{
    max-width: 540px;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 124px;
}

.fact{
    text-align: center;
    padding: 45px 36px 58px 36px;
    border-radius: 8px;
    border: 2px solid rgba(255, 144, 14, 1);
}

.fact-number{
    font-size: 2.81rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.face-name{
    font-size: 1.25rem;
    font-weight: 600;
}

/* footer style */

.footer-content{
    text-align: center;
    margin-bottom: 50px;
}

.sponsor{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 155px;
    margin-bottom: 130px;
}

.sponsor img{
    filter: grayscale(100%);
}

.foot{
    text-align: center;
    background-color: rgba(255, 244, 231, 1);
    padding: 35px 0;
}

.foot-description{
    font-size: 1.5rem;
}


/* responsive media query */

@media screen and (max-width: 576px) {
    .display-flex {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 40px;
        gap: 40px;
    }

    .teams-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 20px;
    }

    .fact{
        padding: 10px;
    }

    .fact-container{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media screen and (min-width : 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
}